*{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    text-transform: capitalize;
}

body{
    background-color: grey;
}

#outer{
    font-size: 25px;
}

#inner{
     font-size: 10px;
}

div{
    height: 50px;
    background-color: pink;
    width: 100px;
    border-width: 20px;
    border-style: solid;
    border-color: black;
}